.cover {
    background: url('/assets/images/background-header.png') center;
    background-size: cover;
    min-height: 45rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem;
    
    h1 {
        font-weight: 200; 
    }

    p.lead {
        margin: 2rem auto;
        color: rgba(255, 255, 255, 0.75);
    }

    .cover-container {
        display: table;
        height: 100%;
        min-height: 44rem;
        margin: 0 auto; 
    }
}

.bra-navbar {
   background: #30421e;
   height: 80px;
   width: 100%;
}

.navbar.solid {
    background-color: rgba(48, 66, 30, 0.9);
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
    mix-blend-mode: luminosity;
}

.bra-logo .navbar.solid {
    mix-blend-mode: luminosity;

}

.navbar {
    background-color: rgba(81, 95, 71, 0.4);
}

h1 {
    font-family: 'Roboto';
    font-size: 67px;
    margin-top: 270px;
    font-weight: bold;
}

h5 {
    font-family: 'Roboto';
    font-size: 23px;
    color: #dce3d6;
    font-weight: 100;
}

.btn-git {
    border-radius: 18px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #30421e;
}