.sobre-brathena {
    margin-top: 100px;
    color: #91c474;
    font-family: 'Roboto';
    font-size: 15px;
}

.principais-recursos, .sobre-brathena {
    justify-content: center;
}

.principais-recursos {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: bold;
    color: #30421e;
}