<div class="container-fluid container-infos">
  <div class="row informacoes-brathena">
    <p class="mt-5">INFORMAÇÕES DO BRATHENA</p>
  </div>
  <div class="row informacoes-brathena-2">
      <p>INFORMAÇÕES DO NOVO EMULADOR</p>
  </div>
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-3"><i class="fa fa-bars fa-lg"></i></div>
    <div class="col-md-3"><i class="fa fa-bars fa-lg"></i></div>
    <div class="col-md-3"><i class="fa fa-bars fa-lg"></i></div>
  </div>
  <div class="row mt-3">
      <div class="col-md-2"></div>
      <div class="col-md-3 info-title">INFO I</div>
      <div class="col-md-3 info-title">INFO II</div>
      <div class="col-md-3 info-title">INFO III</div>
  </div>
  <div class="row mt-4">
    <div class="col-md-2"></div>
    <div class="col-md-3 info-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    </div>
    <div class="col-md-3 info-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    </div>
    <div class="col-md-3 info-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-3"><i class="fa fa-bars fa-lg"></i></div>
    <div class="col-md-3"><i class="fa fa-bars fa-lg"></i></div>
    <div class="col-md-3"><i class="fa fa-bars fa-lg"></i></div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-3 info-title">INFO IV</div>
    <div class="col-md-3 info-title">INFO V</div>
    <div class="col-md-3 info-title">INFO VI</div>
  </div>
  <div class="row mt-4">
    <div class="col-md-2"></div>
    <div class="col-md-3 info-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    </div>
    <div class="col-md-3 info-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    </div>
    <div class="col-md-3 info-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    </div>
  </div>
  <div class="row mt-5"></div>
</div>